html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.rate-wrapper {
  box-sizing: border-box;
  height: 42px;
  background: #004ECE;
  padding: 5px;
}

.rate-signal {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;
}

.price-label {
  font-weight: 400;
  font-size: 8px;
  line-height: 175.4%;
  /* identical to box height, or 14px */

  text-align: center;

  color: #FFFFFF;
}

.rest-details {
  display: flex;
  overflow: hidden;
  /* border: 1px solid #333; */
  align-items: center;
}

.rest-details-addr {
  margin-right: auto;
}


.addr-title {
  width: 162px;
  height: 23px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #5E5873;
}

.addr-sub-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #6E6B7B;
}

.rest-details-rate {
  width: 35px;
  height: 35px;
  background: #92C83E;
  border-radius: 4px;
  position: relative;
}

.rest-details-rate-low {
  width: 35px;
  height: 35px;
  background: #EA5455;
  border-radius: 4px;
  position: relative;
}

.rest-details-rate-label {
  position: absolute;
  height: 16px;
  left: 4px;
  right: 4px;
  top: calc(50% - 16px/2 - 0.5px);
  height: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  text-align: center;

  /* 1) Theme Color / White */

  color: #FFFFFF;

}

.header {
  position: relative;
}

.fav-inactive {
  color: #0D59D6
}

.fav-active {
  color: #FFFFFF
}

.fav-wrapper-inactive {
  position: absolute;
  right: 4%;
  top: 3%;
  border-radius: 50%;
  background: #FFFFFF;
}

.fav-wrapper-active {
  position: absolute;
  right: 4%;
  top: 3%;
  border-radius: 50%;
  background: #0D59D6;
}